[[:space:]]C:/Development/visamate filter=lfs diff=lfs merge=lfs -text
build/app/outputs/apk/debug/app-debug.apk filter=lfs diff=lfs merge=lfs -text
build/app/outputs/flutter-apk/app-debug.apk filter=lfs diff=lfs merge=lfs -text
build/app/intermediates/merged_native_libs/debug/out/lib/arm64-v8a/libVkLayer_khronos_validation.so filter=lfs diff=lfs merge=lfs -text
*.apk filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.dill filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
